<!DOCTYPE html>
<html>
  <head>
    <title>EigoPost</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="devise-bg">
    <% if flash[:notice] %>
      <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
    <div class="container margin-t-5p text-center">
    <h2><%= link_to "EigoPost", root_path, class: "devise-logo" %></h2>
      <div class="devise-col">
        <h2 class="color-2a margin-t-0">Resend Confirmation</h3>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :email, class: "color-2a" %><br />
        <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "send", class: "btn btn-success" %>
      </div>
      <br>
    <% end %>
    <span class="color-2a"><%= render "devise/shared/links" %></span>
  </div>
</div>
</body>
</html>
