<div class="row">
  <div class="hidden-xs hidden-sm col-md-3">
  </div>

  <div class="col-xs-12 col-md-6">
    <h3 class="grey">Signup Required for Posting</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :username, class: "red" %><br />
      <%= f.text_field :username, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email, class: "red" %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password, class: "red" %>
      <% if @minimum_password_length %>
      <!--<em>(<%#= @minimum_password_length %> characters minimum)</em> -->
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class:"red" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <div class="actions">
      <%= f.submit "Join", class: "btn btn-success margin-t" %>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>
    <div>

    <div class="hidden-xs hidden-sm col-md-3">
    </div>
</div>
