<h2 class="media_header">
  <%= @topic.name %>
</h2>
<p>
<%= @topic.description %>
</p>

<% @topic.posts.each do |p| %>
  <h4 class="b"><%# link_to p.title, topic_post_path(@topic, post) %></h4>
  <small>
   submitted <%= time_ago_in_words(p.created_at) %>
   <br>
   ago by <%= p.user_id %>
 </small>
 <br>
  <% end %>

<br>
<li class="pp"><%= link_to "Back to Topics", topics_path, class: "pp" %></li>
<%= link_to "New Post", new_topic_post_path(@topic), class: 'btn btn-success' %>
<%# link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to Delete?' } %>
