<h1>Topics#show</h1>
<h2 class="media_header"><%= @topic.name %>
<br>
<%= @topic.description %></h2>
<br>

<% @topic.posts.each do |post| %>
  <%= link_to post.title, topic_post_path(@topic, post) %>
  <br>
  <% end %>

<br>
<%= link_to "New Post", new_topic_post_path(@topic), class: 'btn btn-success' %>
<%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to Delete?' } %>
