<div class="container">
 <div class="row">
  <div class="col-md-12">
    <h3 class="color-grey">Log in</h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: "color-grey"  %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <br>
      <div class="field">
        <%= f.label :password, class: "color-grey"  %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: "color-grey" %>
        </div>
      <% end -%>
      <br>
      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-success" %>
      </div>
    <% end %>
    <span class="color-grey-devise"><%= render "devise/shared/links" %></span>
  </div>
 </div>
</div>
