<div class="container">
  <h1 class="color-grey">EigoPosts</h1>
  <div class="row">
    <div class="col-md-8">
      <% @posts.each do |post_l| %>
        <h4 class="color-red"><%= link_to post_l.post_title, post_l %></h4>
        <p class="lead color-grey">
          <%= link_to truncate(post_l.post_body, :length => 90), post_l %>
          <br>
          <small class="color-light-grey font-14">
            submitted <%= time_ago_in_words(post_l.created_at) %>
            ago by <span class="color-red"><%= post_l.user.username %></span>
            <br><%= link_to post_l.comments.size, post_l %> comments
          </small>
        </p>
        <hr>
      <% end %>
    </div><!--col-md-8-->
    <div class="col-md-4">
      <%= link_to "New Post", new_post_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
