<% @page_title='All Posts' %>
<div class="container padding-b-30 min-h-600">
  <div class="row">
    <div class="col-sm-8 padding-r-sm">
      <h1 class="color-1a margin-10"><small class="">recent</small>EigoPosts</h1>
      <hr>
      <% @posts.each do |post_l| %>
        <h4 class="color-2a margin-5"><%= link_to post_l.post_title, post_l %></h4>
        <p class="lead color-2b margin-5"><%= link_to truncate(post_l.post_body, :length => 90), post_l %></p>
        <small class="color-2a">submitted <%= time_ago_in_words(post_l.created_at) %> ago by </small>
        <small class="color-1b"><%= post_l.user.username %></small>
        <small class="color-2a pull-right"><%= link_to post_l.comments.size, post_l %> comments</small>
        <hr>
      <% end %>
      <%= link_to "New Post", new_post_path, class: "btn btn-success margin-10" %>
    </div>
    <div class="col-sm-4 hidden-xs sidebar">
      <%= link_to "New Post", new_post_path, class: "btn btn-success margin-10" %>
    </div>
  </div>
</div>
