<h1><small>All</small> EigoPosts</h1>

<div class="row">
  <div class="col-md-8">
    <% @posts.each do |t| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to t.name, t %>
          </h4>
            <p class="lead">
              <%= truncate(t.description, :length => 70) %>
            </p>
            <small>
              submitted <%= time_ago_in_words(t.created_at) %>
              ago by <%= t.user.username %>
            </small>
        </div>
      </div>
    <% end %>
  </div>

<br>
<%= link_to "New Post", new_post_path,
    class: "btn btn-success" %>
</div>
