<h1><small>All</small> EigoPosts</h1>
<div class="row">
  <div class="col-md-8">
    <% @posts.each do |t| %>
      <h3><%= link_to t.name, t %></h3>
      <p class="lead bborder">
        <%= link_to truncate(t.description, :length => 70), t %>
        <br>
        <small class="red font-fourteen">
          submitted <%= time_ago_in_words(t.created_at) %>
          ago by <%= t.user.username %>
          <br><%= link_to t.comments.size, t %> comments
        </small>
      </p>
    <% end %>
  </div>
</div>

<br>
<%= link_to "New Post", new_post_path,
    class: "btn btn-success" %>
</div>
