<div class="row">
  <div class="col-md-8">
    <h3><%= @post.name %></h3>
      <p class="lead">
        <%= @post.description %>
        <br>
        <small>posted by</small>
      <small class="red"><%= @post.user.username %></small>
      </p>

      <h4 class="red">comments</h4>
      <% @post.comments.each do |p| %>
        <p class="lead"><%= p.body %>
        <small class="red font-fourteen">
          <br>
          submitted <%= time_ago_in_words(p.created_at) %> ago
          by <%= p.user.username %>
        </small>
      <% end %>
    </p>

    <%= link_to "comment", new_post_comment_path(@post), class: 'btn btn-success' %>
    <br><br>
    <li class="nodec"><%= link_to "Back to all Posts", posts_path, class: "pp" %></li>

  </div>
</div>
