<div class="row">
  <div class="col-md-8">
    <h3><%= @post.name %><small class="red"> posted by <%= @post.user.username %></small></h3>
      <p class="lead">
        <%= @post.description %>
      </p>

      <h4 class="red">comments</h4>
      <% @post.comments.each do |p| %>
        <p class="lead"><%= p.body %>
        <small class="red font-fourteen">
          <br>
          posted <%= time_ago_in_words(p.created_at) %> ago
          by <%= p.user.username %>
        </small>
        </p>
      <% end %>

    <span>Feel free to comment below or, </span>
    <a class="nodec"><%= link_to "Back to all Posts", posts_path, class: "pp" %></a>

    <br><br>

    <%= render 'comments/form', comment: Comment.new, post: @post %>

  </div>
</div>
