<!DOCTYPE html>
<html>
  <head>
    <title>EigoPost</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "EigoPost", root_path, :class => 'navbar-brand' %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Posts", posts_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
              <li><%= link_to "Edit profile", edit_user_registration_path, :class => 'navbar-link' %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
              <li class="color-2a margin-b-15">welcome, <%= current_user.username %></li>
              <% else %>
              <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
              <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %></li>
              <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>

    <footer>
      <div class="container">
        <div class="row">
            <div class="hidden-xs col-sm-5 col-sm-offset-1 text-center">
              <p class="lead">Get help and give help<br> using <i>real</i> English at EigoPost!</p>
            </div>
            <div class="col-sm-5 col-sm-pull-1 color-2a text-center">
              <ul>
                <li><%= link_to "method", root_path %></li>
                <li><%= link_to "background", root_path %></li>
                <li><%= link_to "case studies", root_path %></li>
                <li><%= link_to "legal", root_path %></li>
              </ul>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center color-2a">
            <p class="lead padding-t-20">© 2018 <a href="https://www.eigopost.com"><strong> EigoPost.com</strong></a></p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
